DykBits.Crm.Remote/Service References/DocumentServices/DykBits.DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DykBits.DataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DykBits.DataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DocumentServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentServiceFault" nillable="true" type="tns:DocumentServiceFault" />
</xs:schema>