DataClient/Service References/ServiceReference1/documentservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.dykbits.net/2014/crm/documentservice" elementFormDefault="qualified" targetNamespace="http://www.dykbits.net/2014/crm/documentservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DykBits.Crm.Data" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Browse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrowseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="BrowseResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="GetListResult" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DykBits.Crm.Data" minOccurs="0" name="key" nillable="true" type="q3:ItemKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="GetDocumentResult" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DykBits.Crm.Data" minOccurs="0" name="key" nillable="true" type="q5:ItemKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDocumentState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DykBits.Crm.Data" minOccurs="0" name="key" nillable="true" type="q6:ItemKey" />
        <xs:element minOccurs="0" name="newState" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="applicationData" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDocumentStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/Message" name="documentData" type="q7:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/Message" name="SaveResult" type="q8:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentNumberInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
        <xs:element minOccurs="0" name="documentDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentNumberInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DykBits.Crm.Data" minOccurs="0" name="GetDocumentNumberInfoResult" nillable="true" type="q9:DocumentNumberInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentMetadata">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/Message" name="GetDocumentMetadataResult" type="q10:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentEmployee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/Message" name="GetCurrentEmployeeResult" type="q11:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/Message" name="stream" type="q12:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/Message" name="ExecuteQueryResult" type="q13:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteNonQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/Message" name="stream" type="q14:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteNonQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteNonQueryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>