DykBits.Crm.Data/Service References/RemoteServices/documentservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.dykbits.net/2014/crm/documentservice" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BlobService" targetNamespace="http://www.dykbits.net/2014/crm/documentservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.dykbits.net/2014/crm/documentservice/Imports">
      <xsd:import namespace="http://www.dykbits.net/2014/crm/documentservice" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBlobService_CreateMessageId_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMessageId" />
  </wsdl:message>
  <wsdl:message name="IBlobService_CreateMessageId_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMessageIdResponse" />
  </wsdl:message>
  <wsdl:message name="UploadBlobRequest">
    <wsdl:part name="Data" element="tns:Data" />
  </wsdl:message>
  <wsdl:message name="UploadBlobRequest_Headers">
    <wsdl:part name="MessageId" element="tns:MessageId" />
  </wsdl:message>
  <wsdl:message name="IBlobService_UploadBlob_OutputMessage" />
  <wsdl:message name="DownloadBlobRequest" />
  <wsdl:message name="DownloadBlobRequest_Headers">
    <wsdl:part name="Length" element="tns:Length" />
    <wsdl:part name="MessageId" element="tns:MessageId" />
    <wsdl:part name="StartPosition" element="tns:StartPosition" />
  </wsdl:message>
  <wsdl:message name="DownloadBlobResponse">
    <wsdl:part name="Data" element="tns:Data" />
  </wsdl:message>
  <wsdl:message name="DownloadBlobResponse_Headers">
    <wsdl:part name="BlobLength" element="tns:BlobLength" />
    <wsdl:part name="MessageId" element="tns:MessageId" />
  </wsdl:message>
  <wsdl:portType name="IBlobService">
    <wsdl:operation name="CreateMessageId">
      <wsdl:input wsaw:Action="http://www.dykbits.net/2014/crm/documentservice/IBlobService/CreateMessageId" message="tns:IBlobService_CreateMessageId_InputMessage" />
      <wsdl:output wsaw:Action="http://www.dykbits.net/2014/crm/documentservice/IBlobService/CreateMessageIdResponse" message="tns:IBlobService_CreateMessageId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadBlob">
      <wsdl:input wsaw:Action="http://www.dykbits.net/2014/crm/documentservice/IBlobService/UploadBlob" name="UploadBlobRequest" message="tns:UploadBlobRequest" />
      <wsdl:output wsaw:Action="http://www.dykbits.net/2014/crm/documentservice/IBlobService/UploadBlobResponse" message="tns:IBlobService_UploadBlob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadBlob">
      <wsdl:input wsaw:Action="http://www.dykbits.net/2014/crm/documentservice/IBlobService/DownloadBlob" name="DownloadBlobRequest" message="tns:DownloadBlobRequest" />
      <wsdl:output wsaw:Action="http://www.dykbits.net/2014/crm/documentservice/IBlobService/DownloadBlobResponse" name="DownloadBlobResponse" message="tns:DownloadBlobResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="BlobService">
    <wsdl:port name="CustomBinding_IBlobService" binding="i0:CustomBinding_IBlobService">
      <soap12:address location="net.tcp://bhw-112.bh.local:38733/DykBits.BlobSvc/BlobService/Basic" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://bhw-112.bh.local:38733/DykBits.BlobSvc/BlobService/Basic</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="CustomBinding_IBlobService1" binding="i0:CustomBinding_IBlobService1">
      <soap12:address location="net.tcp://bhw-112.bh.local:38733/DykBits.BlobSvc/BlobService/Windows" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://bhw-112.bh.local:38733/DykBits.BlobSvc/BlobService/Windows</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>