DykBits.Crm.Data/Service References/RemoteServices/documentservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.dykbits.net/2014/crm/documentservice" elementFormDefault="qualified" targetNamespace="http://www.dykbits.net/2014/crm/documentservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="CreateMessageId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMessageIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateMessageIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="Data" type="q1:StreamBody" />
  <xs:element name="MessageId" nillable="true" type="xs:string" />
  <xs:element name="Length" type="xs:int" />
  <xs:element name="StartPosition" type="xs:long" />
  <xs:element name="BlobLength" type="xs:long" />
</xs:schema>